# Workflow
# =============================================================
.idea/
.vscode/
.buildpath
.project
.settings/
.build/
nbproject/
/tags
.netbeans.xml

# OS
# =============================================================
.DS_Store
Thumbs.db
*.log

# Backend
# =============================================================
.envs/prod/
config/certs/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
# Frontend
# =============================================================
node_modules/
/public/hot
/public/storage
npm-debug.log
yarn-error.log
